/.bashrc
/.cache
/.config
/.idea
/.ipython
/.lightning_studio
/.lightningignore
/.nv
/.vscode
/.zcompdump
/.zsh_history
/.zshrc
/lora-model1
/lora-model2
/model-checkpoints
/.condarc
/.gitconfig
/.hushlogin
/.jupyter
/.docker
/.local
/.oh-my-zsh
/.profile
/.ssh
/.sudo_as_admin_successful